.review__section {
    padding-top: 150px;
}

.review {
    width: 100%;
}

.review h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.review__block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    /* padding-bottom: 157px; */
}

.review__title {
    width: calc(50% - 25px);
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
}

.review__text {
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.review__big {
    width: 75%;
}

.review__big__title {
    width: 865px;
    font-size: 45px;
    line-height: 61px;
    font-weight: 400;
}

.review__big__text {
    width: 75%;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 1199px) {
    .review__section {
        padding-top: 120px;
    }
    /* .review {
        width: 100%;
    } */
    .review h2 {
        padding-top: 0;
    }
    .review__block {
        width: 100%;
        column-gap: 10px;
    }
    .review__title {
        width: calc(50% - 5px);
        font-size: 35px;
        line-height: 48px;
    }
    .review__text {
        width: 100%;
        font-size: 20px;
        line-height: 27px;
    }
    .review__big {
        width: 100%;
    }
    .review__big__title {
        width: 696px;
        font-size: 35px;
        line-height: 48px;
    }
    .review__big__text {
        width: 100%;
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .review__section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .review h2 {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 22px;
    }
    .review__title {
        width: 100%;
        font-size: 25px;
        line-height: 34px;
    }
    .review__text {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
    }
    .review__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        column-gap: 0px;
        row-gap: 80px;
        padding-bottom: 0;
    }
    .review__big {
        width: 100%;
        padding-bottom: 0;
    }
    .review__big__title {
        width: 100%;
        font-size: 25px;
        line-height: 34px;
    }
    .review__big__text {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
    }
}