@import'../CSS/footer.css';
@import'../CSS/header.css';
@import'../CSS/project.css';
@import'../CSS/contact.css';
@import'../CSS/gallery.css';
@import'../CSS/service.css';
@import'../CSS/intro.css';
@import'../CSS/review.css';
@import'../CSS/popup.css';
body {
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
    background: #fff;
    /* height: 7211px; */
    overflow-x: hidden !important;
    width: 100%;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
}

h1 {
    line-height: 60px;
    font-size: 60px;
    text-align: left;
}

h2 {
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 30px;
}

h3 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

h1,
h2,
h3 {
    color: #121212;
}

a:focus {
    outline: 0;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }
    * {
        -webkit-tap-highlight-color: transparent;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 12px;
    }
    * {
        -webkit-tap-highlight-color: transparent;
    }
}

section {
    margin: 0 auto;
    padding-bottom: 150px;
}

@media (max-width: 1199px) {
    section {
        padding-bottom: 120px;
    }
}

@media (max-width: 767px) {
    section {
        padding-bottom: 80px;
    }
}